<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/styles.css}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/search}" th:object="${search}" method="get" id="form">
    <div class="searchBar">
        <input class="search_input" type="text" th:field="*{search}" id="" name="" placeholder="Search track...">
        <button type="submit" class="search_icon">Search</button>
    </div>
</form>
<h3>Random artist from the top 5</h3>
    <div th:each="artist:${artists}">
        <p th:text="${artist.getName()}"></p>
    </div>
<h3>Random top 5 tracks</h3>
    <div th:each="track:${tracks}">
        <p th:text="${track.getName()}"></p>
    </div>
<h3>Random top 5 genres</h3>
    <div th:each="genre:${genres}">
        <p th:text="${genre.getName()}"></p>
    </div>

</body>
</html>