<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Search results</h1>
    <p th:text="|Your results are: ${query}|"></p>
    <table>
        <thead>
        <tr>
            <th:block>Artist</th:block>
            <th:block>Title</th:block>
            <th:block>Album</th:block>
            <th:block>Genre</th:block>
        </tr>
        </thead>
        <tbody>
            <tr th:each="info: ${result}">
                <td th:text="${}"></td>
                <td th:text=""></td>
                <td th:text=""></td>
                <td th:text=""></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>